# Ignore terrform state files
config/*/.terraform
config/*/*.tfstate*
config/*/.terraform.lock.hcl
config/.terraform
config/*.tfstate*
config/.terraform.lock.hcl

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

#Ignore firebase_admin service account key
sa-api-firestore.json

# Ignore misc files
debug.log

# Ignore python virtual env
.venv